<%= simple_form_for list, html: { id: "modal_new_list", novalidate: true } do |f| %>
  <div class="modal-body">
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <% if list.new_record? %>
      <%= render "bookmark_fields", f: f %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= f.submit class:"btn btn-primary"%>
  </div>
<% end %>
