<div class="modal fade" id="movieModal-<%= movie.id %>" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <p class="modal-title fs-3">
          <strong><%= movie.title %></strong>
        </p>

        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal">
        </button>
      </div>

      <div class="modal-body">

        <%= image_tag movie.poster_url,
            class: "w-100 rounded mb-3",
            style: "height: 400px; object-fit: cover;" %>

        <p>
          <strong>Rating:</strong>
          <%= movie.rating %> ⭐️
        </p>

        <p><strong>Overview</strong></p>
        <p>
          <%= movie.overview %>
        </p>

        <p><strong>Your comment</strong></p>
        <p class="fw-bold text-wrap">
          <i class="fa-solid fa-quote-left"></i>
          <%= bookmark.comment %>
        </p>

      </div>

    </div>
  </div>
</div>
