<div>
  <h1><%= @list.name %></h1>
  <%= link_to "add a movie", new_list_bookmark_path(@list) %>
  <div>
    <% @movies.each do |movie| %>
      </div>
        <%= movie.title %> <%= movie.rating %>
        <%= movie.overview %>
        <%= movie.bookmarks.first[:comment] %>
        <%= link_to "delete", bookmark_path(movie), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <div>
    <% end %>
  </div>
</div>
