<div>
  <div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url('<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path("banner.png") %>');">
    <div class="container text-center">
      <h1><%= @list.name.titleize %> Movies</h1>
    </div>
  </div>
  <div class="w-75 m-auto">
    <div class="text-end">
      <%= link_to "Add a Movie", list_path(@list, anchor: "add-bookmark"), class: "btn btn-success mb-3" %>
      <button type="button"
              class="btn btn-secondary mb-3"
              data-bs-toggle="modal"
              data-bs-target="#editListModal">
        Edit This List
      </button>
      <div class="modal fade" id="editListModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <%= render "lists/form_content", list: @list %>
          </div>
        </div>
      </div>
      <%= link_to "Delete This List", list_path(@list), class: "btn btn-warning mb-3",
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
    <h2 class="mt-3 mb-3">All My Bookmarks of <%= @list.name.titleize %> Movies</h2>
    <div class="movie-cards horizontal-cards d-flex overflow-x-auto overflow-y-hidden gap-3">
      <% if @movies.any? %>
        <% @movies.each do |movie| %>
          <div class="card-movie m-2 flex-shrink-0 d-flex flex-column" style="width: 280px; height: 656px">
            <%= image_tag movie.poster_url, alt: movie.title, class: "w-100 object-fit-cover", style: "height: 320px" %>
            <div class="flex-grow-1 d-flex flex-column justify-content-between p-3">
              <div>
                <div class="d-flex align-items-center justify-content-start">
                  <p class="fs-4 me-0"><strong><%= movie.title %></strong> </p>
                  <p class="text-nowrap mb-0 ms-2"> · <%= movie.rating %> ⭐️</p>
                </div>
                <div class="movie-overview"><%= movie.overview %></div>
                <button type="button"
                        class="btn btn-outline-primary btn-sm mt-2"
                        data-bs-toggle="modal"
                        data-bs-target="#movieModal-<%= movie.id %>">
                  View More
                </button>
              </div>
              <div class="d-flex justify-content-between align-items-end mt-4 mb-3">
                <% bookmark = movie.bookmarks.find_by(list: @list) %>
                <p class="movie-overview fs-5 fw-bold mb-0 text-break"><i class="fa-solid fa-quote-left"> </i> <%= bookmark[:comment] %></p>
                <%= link_to "delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "link-danger link-underline-opacity-0 link-underline-opacity-100-hover" %>
              </div>
              <%= render "movie_modal", movie: movie, bookmark: bookmark %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No movies yet. Add your first one!</p>
      <% end %>
    </div>
    <div id="add-bookmark" class="mt-5">
      <h2>Create a New Bookmark</h2>
      <div class="card shadow-sm p-3">
        <%= render "bookmarks/form", bookmark: @bookmark, list: @list %>
      </div>
    </div>
  </div>
</div>
